.country-actions {
    margin-top: 12px;
    display: flex;
    gap: 10px;
}

.details-btn {
    flex: 1;
    background-color: #0077ff;
    color: white;
    padding: 8px 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
}

.details-btn:hover {
    background-color: #005fcc;
}

.fav-btn {
    background-color: #ffd700;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.2s;
}

.fav-btn:hover {
    background-color: #e6c200;
}

.fav-btn.favorite {
    background-color: #ffca00;
    color: #b80000;
    text-shadow: 0px 0px 3px rgba(0,0,0,0.3);
}
