.country-actions {
    margin-top: 12px;
    display: flex;
    gap: 10px;
}

.details-btn {
    flex: 1;
    background-color: #0077ff;
    color: white;
    padding: 8px 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
}

.details-btn:hover {
    background-color: #005fcc;
}


.fav-btn {
    background-color: #eee;
    color: #555;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.25s ease;
}


.fav-btn:hover {
    background-color: #ddd;
}


.fav-btn.favorite {
    background-color: #ffd700;
    color: #000;
    text-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    transform: scale(1.15);
    box-shadow: 0 0 6px #ffd700;
}


.fav-btn.favorite {
    animation: favPop 0.3s ease forwards;
}

@keyframes favPop {
    0%   { transform: scale(1); }
    50%  { transform: scale(1.3); }
    100% { transform: scale(1.15); }
}
